<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/ic_launcher_foreground"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AiLawyer"
        tools:targetApi="31">
        <activity
            android:name=".LawyerScreenActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar"/>
        <activity
            android:name=".CityResultActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".dataclasses.add_report"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".AddComplaintsActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".EditprofileActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".AddMoneyActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false"
            />
        <activity
            android:name=".DialogMoneyActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".MyWalletActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ChatscreenActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            />
        <activity
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:name=".CityActivity"
            android:exported="false" />
        <activity
            android:name=".TypeActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".AiChatActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>